MsFaceSDK/Service References/FaceService/item51.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Drawing" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Drawing" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://40.125.202.105:8008/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfRectangle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Rectangle" type="tns:Rectangle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRectangle" nillable="true" type="tns:ArrayOfRectangle" />
  <xs:complexType name="Rectangle">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="height" type="xs:int" />
      <xs:element name="width" type="xs:int" />
      <xs:element name="x" type="xs:int" />
      <xs:element name="y" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Rectangle" nillable="true" type="tns:Rectangle" />
</xs:schema>