TestFaceService/Service References/FaceService/item52.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FaceSDKService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FaceSDKService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCompareFaces">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompareFaces" nillable="true" type="tns:CompareFaces" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompareFaces" nillable="true" type="tns:ArrayOfCompareFaces" />
  <xs:complexType name="CompareFaces">
    <xs:sequence>
      <xs:element minOccurs="0" name="Confidence" type="xs:float" />
      <xs:element minOccurs="0" name="IDcard" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PdbPhoto" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="PhotoFeature" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="SourcePhoto" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompareFaces" nillable="true" type="tns:CompareFaces" />
  <xs:complexType name="FaceKafka">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KafkaFaces" nillable="true" type="tns:ArrayOfKafkaCompare" />
      <xs:element minOccurs="0" name="SourcePhoto" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FaceKafka" nillable="true" type="tns:FaceKafka" />
  <xs:complexType name="ArrayOfKafkaCompare">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KafkaCompare" nillable="true" type="tns:KafkaCompare" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKafkaCompare" nillable="true" type="tns:ArrayOfKafkaCompare" />
  <xs:complexType name="KafkaCompare">
    <xs:sequence>
      <xs:element minOccurs="0" name="Confidence" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDcard" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PdbPhoto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourcePhotoRect" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KafkaCompare" nillable="true" type="tns:KafkaCompare" />
</xs:schema>